<!DOCTYPE html>
<html>
<head>
  <title>uwu</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='indexstyle.css') }}">
</head>
<body>
 <div id="icons">
 	<a href="http://twitter.com/sleeplessneet"><img src="{{ url_for('static', filename='twitterlogo.png') }}" height="50px" width="50px"></img></a>
 	<a href="http://github.com/iku"><img src="{{ url_for('static', filename='githublogo.png') }}" height="45px" width="45px"></img></a>
 	<a href="http://discord.gg/baka"><img src="{{ url_for('static', filename='discordlogo.png') }}" height="45px" width="45px"></img></a>
 </div>
 <div id="fade">
  <div class="top">
   <div class="top-text">	
	 <h1>(<span style="color: #e45678">๑</span>・ω・<span style="color: #e45678">๑</span>)</h1>
   </div>
  </div>
 </div>
 <div class="avatar">
 	<img class="pic" src="{{ url_for('static', filename='ava.png') }}" width="400" height="400">
 </div>
 <div class=nerd>
 	<p style="letter-spacing: 0.416667em;" data-shrink-original-size="24">Code | Music | Games</p>
 <div>
 	<b><a style="text-decoration:none" href="mailto:nozomu@neko.li" id=bottom>nozomu@neko.li</a></b>
 </div>
</body>
</html>